name: Android Release

on:
  pull_request:
    branches:
      - release
    types:
      - closed

jobs:
  build:
    name: Build Release APK
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Check if PR was merged
      if: github.event.pull_request.merged == true
      run: echo "PR was merged, proceeding with release build"

    - name: Build release APK
      if: github.event.pull_request.merged == true
      run: ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: app/build/outputs/apk/release/app-release-unsigned.apk

    - name: Sign APK
      if: github.event.pull_request.merged == true
      run: |
        echo "${{ secrets.ANDROID_KEYSTORE_FILE }}" | base64 --decode > keystore.jks
        jarsigner -verbose -sigalg SHA256withRSA -digestalg SHA-256 \
          -keystore keystore.jks \
          -storepass ${{ secrets.ANDROID_KEYSTORE_PASSWORD }} \
          -keypass ${{ secrets.ANDROID_KEY_PASSWORD }} \
          app/build/outputs/apk/release/app-release-unsigned.apk \
          ${{ secrets.ANDROID_KEY_ALIAS }}

    - name: Align APK
      if: github.event.pull_request.merged == true
      run: ${ANDROID_HOME}/build-tools/*/zipalign -v 4 app/build/outputs/apk/release/app-release-unsigned.apk FOSStenbuch-release.apk

    - name: Upload Release APK as artifact
      if: github.event.pull_request.merged == true
      uses: actions/upload-artifact@v4
      with:
        name: FOSStenbuch-release-apk
        path: FOSStenbuch-release.apk